
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size:60px ;
  text-shadow: #333333;
}
