.inventory-management {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
  }
  .import-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .import-btn:hover {
    background-color: #45a049;
  }
  

  .inventory-title {

    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .inventory-table {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

    font-size: 1.2rem;
    margin: 1rem 0;
    overflow-x: auto;

  }

  table {
    width: 70%;

    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    padding: 0.75rem 1rem;
    border: 1px solid var(--text-color);
    border-right: 0.001vh solid var(--text-color);
    border-left: 1px solid var(--text-color);


  }
  
  th {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
  }
  
  td {
    font-size: larger;
    color: var(--text-color);
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 2rem;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: #fff;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    font-size: 1rem;
  }
  
  .add-item-btn {
    margin-top: 1rem;
    background-color: #2196f3;
    color: #fff;
    margin-right: 2rem;
    
  }
  .delete-selected-btn {
    margin-top: 1rem;
    background-color: #f44336;
    color: #fff;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  

  .checkmark  {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.form-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  box-shadow: 0px 0px 30px black

}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: none;
}
.close-btn:hover {
box-shadow: none;
}

.form-group {
  margin-bottom: 15px;
} 

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--text-color);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-btn,
.add-close-btn {
  font-size: 25px;
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  transform: scale(1);

}

.save-btn,.cancel-btn{
  font-size: 25px;
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s ease, opacity 0.3s ease; 
  transform: scale(1);
}
.add-close-btn {
  background-color: #2196f3;
  
}

.add-btn:hover:disabled,
.add-close-btn:hover:disabled {
  transform: scale(1);
  box-shadow: none;
}

.add-btn:disabled,
.add-close-btn:disabled {

  cursor:default; 
  opacity: 0.6; 
}
.delete-selected-btn:disabled {

  cursor:default;
  opacity: 0.4; 
}
.delete-selected-btn:disabled {

  transform: scale(1);
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .inventory-table  {
    width: 110%;
    margin-left: -15px;
    font-size: small;
    border-collapse: collapse;
    text-align: center;
  }

  button {

    font-size: 1.5rem;
  }
  .edit-btn {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  .delete-btn {
    margin-right: 0.5rem;


    font-size: 1rem;
  }
}